@media (max-width: 1000px) and (min-width: 480px) {
  #howToStart {
    .card {
      width: 13rem !important;
    }
    .side-arrow {
      width: 60px !important;
      margin-left: 5px !important;
    }
  }
  .services {
    margin: 7px !important;
  }
  #hero > .col-5,
  #hero > .col-5 > h1 {
    margin-top: 10px !important;
  }
  // for quiz page
  #questionaire {
    width: 100% !important;
  }
}

@media (max-width: 768px) {
  // login & registration page
  .auth-container {
    width: 100% !important;
  }
  // display coaches
  .displaCoach {
    flex-direction: column !important;
    margin: 0% !important;
    .col-6 {
      width: 100vh !important;
      margin-bottom: 3rem;
    }
  }
  .quick-search select {
    width: 50% !important;
  }
  .pagination {
    margin-top: 0rem !important;
  }
}

@media (max-width: 540px) {
  // login & registration page
  .auth-form {
    width: 95% !important;
  }
  // display coaches
  .displaCoach .col-6 .row {
    padding-left: 0.5rem !important;
    padding-right: 0rem !important;
  }
}

@media (max-width: 480px) {
  #hero,
  #whyus {
    display: contents;
    .col-4,
    .col-5,
    .col-6 {
      margin-top: 0px !important;
      width: 95%;
    }
    h1 {
      margin-top: 2rem !important;
    }
  }
  .services {
    margin: 10px !important;
    width: 75% !important;
  }
  #howToStart {
    display: contents;
    .side-arrow {
      display: none !important;
    }
    .down-arrow {
      display: block !important;
      margin-left: 5rem;
    }
    h1 {
      margin-top: 5rem !important;
    }
  }
  // for quiz page
  #questionaire {
    width: 100% !important;
  }
  // display coaches
  .displaCoach .row1 {
    display: flex;
    flex-direction: column-reverse;
    .col-7 {
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }
  .quick-search select {
    width: 75% !important;
  }
}
